# roles/wireguard/templates/client.conf.j2
[Interface]
# Student {{ student_id }} WireGuard configuration
Address = {{ wg_client_ip }}/24
PrivateKey = {{ client_key }}

[Peer]
PublicKey = {{ server_public_key.stdout }}
Endpoint = {{ ctf_environment.wireguard.server_ip }}:{{ ctf_environment.wireguard.server_port }}
AllowedIPs = {{ wg_allowed_ips }}
PersistentKeepalive = 5