# roles/wireguard/templates/wg0.conf.j2
[Interface]
Address = {{ ctf_environment.wireguard.server_ip_internal }}/32
PrivateKey = {{ server_private_key.stdout }}
ListenPort = {{ ctf_environment.wireguard.server_port }}

# Clean old rules in case they have remained
# PostUp = ip rule show | grep "lookup 1" | sed -E 's/^([0-9]+).*/\1/' | xargs -I{} ip rule del priority {}
# PostUp = iptables -D FORWARD -j chain-pg
# PostUp = iptables -F chain-pg
# PostUp = iptables -X chain-pg

# Create and setup main chain for filtering
PostUp = iptables -N chain-pg
PostUp = iptables -I FORWARD -j chain-pg

# Cleanup filtering chain
PostDown = iptables -D FORWARD -j chain-pg
PostDown = iptables -F chain-pg
PostDown = iptables -X chain-pg
PostDown = ip rule show | grep "lookup 1" | sed -E 's/^([0-9]+).*/\1/' | xargs -I{} ip rule del priority {}

{% for rules in wg_peer_rules | default([]) %}
{{ rules }}

{% endfor %}

{% for peer_line in wg_peer_configs | default([]) %}
{{ peer_line }}
{% endfor %}